td {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color) !important;
}

.pricelist-question {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 20px;
}

.pricelist-question-box {
  background-color: #f7f7f8;
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-btn {
  background-color: var(--action-color);
  color: white;
  border-radius: 24px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.action-btn:hover {
  background-color: var(--action-color);
  color: var(--heading-color);
}

.appointment-price {
  text-align: right;
}
