.navbar {
  background-color: white !important;
}

.navbar-brand {
  color: var(--heading-color);
  font-weight: 700;
  line-height: 31.25px;
}

.navbar-brand:visited {
  color: var(--heading-color);
}

.navlinks {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.nav-link {
  margin-right: 32px;
}

.nav-link:last-child {
  margin-right: 0;
}

.bookingform-btn {
  background-color: var(--action-color);
  color: white;
  border-radius: 50px;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  max-width: 150px;
  text-align: center;
}
.bookingform-btn:hover {
  color: var(--heading-color);
}
