:root {
  --action-color: #25dac5;
  --heading-color: #1e0e62;
  --text-color: #a1a1b0;
}

.app {
  font-family: 'DM Sans', sans-serif;
}

.app-content {
  padding-top: 64px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
}
